@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Dosis', sans-serif;
    color: #040303;
}

*:visited {
    color: #040303;
}

*:link {
    color: #040303
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    height: 20000px;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

header ul,
#footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.container {
    position: relative;
    max-width: 100%;

}

#hi {
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgb(221,221,221);
    background: linear-gradient(0deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 28%, rgba(247,247,247,1) 60%, rgba(221,221,221,1) 100%), radial-gradient(circle, rgba(255,255,255,0.7441351540616247) 0%, rgba(255,255,255,0.8365721288515406) 100%);
    z-index: 101;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
}


#img {
    position: fixed;
    height: 100%;

}

#marco {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    border: 50px solid #fff;
}


#paleta1>div:nth-child(1) {
    background-color: #8B9D83;
}

#paleta1>div:nth-child(2) {
    background-color: #6A7B76;
}

#paleta1>div:nth-child(3) {
    background-color: #3A4E48;
}

#paleta1>div:nth-child(4) {
    background-color: #040303;
}

#paleta1>div:nth-child(5) {
    background-color: #B4656F;
}


#paleta1>div:nth-child(6) {
    background-color: #823038;
}

#paleta1>div:nth-child(7) {
    background-color: #fff;
}



#footer {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 50px;
    bottom: 0;
    transition: opacity 0.5s ease-out;
}


/* 001514
C2D076
FFE1EA
B4656F
823038


7B9E87
EAD7D1
CE4257
9381FF
1B2021
5F758E
6A7FDB

040303
3A4E48
6A7B76
8B9D83
BEB0A7 */